*/.terraform/*
*.env
*.hcl
*.txt
*.tfstate
*.tfplan
changesArray.json
*.log
tenant/settings.connectivity.tf
tenant/settings.identity.tf
tenant/settings.management.tf
tenant/terraform.tfstate.backup
