# Backend state - storage account details
BACKEND_RESGRP=
BACKEND_STORAGE_ACCOUNT=
BACKEND_CONTAINER=

# Backend state - auth for storage account
BACKEND_CLIENT_ID=
BACKEND_CLIENT_SECRET=
BACKEND_CLIENT_SUBSCRIPTION_ID=
BACKEND_CLIENT_TENANTID=

# Auth for Terraform provider, could be the same or different than for backend state
ARM_CLIENT_ID=
ARM_CLIENT_SECRET=
ARM_SUBSCRIPTION_ID=
ARM_TENANT_ID=

# AzDO authentication to access git repos
AZDO_PERSONAL_ACCESS_TOKEN=
AZDO_ORG_SERVICE_URL=

# TF variables
TF_VAR_management_group_name=